<div class="model">
  <!-- Login modal -->
  <div id="login-modal">
    <!-- Login Form -->
    <div class="login-form default-form">
      <div class="form-inner">
        <h3>Login to Superio</h3>
        <!--Login Form-->
        <form id="login-f" name="login-f" method="post">
          <div class="form-group">
            <div class="btn-box row">
              <div class="col-lg-6 col-md-12">
                <a href="#" id="candidate-btn" class="theme-btn btn-style-seven"><i class="la la-user"></i> 개인회원 </a>
              </div>
              <div class="col-lg-6 col-md-12">
                <a href="#" id="corp-btn" class="theme-btn btn-style-four"><i class="la la-briefcase"></i> 기업회원 </a>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">User Email</label>
            <input type="email" id="email" name="email" placeholder="User Email" required>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input id="password-field" type="password" name="password" value="" placeholder="Password">
          </div>
          <input type="hidden" id="separate" name="separate" value="user">

          <div class="form-group">
            <div class="field-outer">
              <div class="input-group checkboxes square">
                <input type="checkbox" name="remember-me" value="" id="remember">
                <label for="remember" class="remember"><span class="custom-checkbox"></span> Remember me</label>
              </div>
              <a href="#" class="pwd">Forgot password?</a>
            </div>
          </div>

          <div class="form-group">
            <button class="theme-btn btn-style-one" type="button" id="log-in" name="log-in">Log In</button>
          </div>
        </form>

        <div class="bottom-box">
          <div class="text">Don't have an account? <a href="register-popup" class="call-modal signup">Signup</a></div>
          <div class="divider"><span>or</span></div>
          <div class="btn-box row">
            <div class="col-lg-6 col-md-12">
			<a href="" ><img src="/final-project-practice/images/naver/naver_icon.png" width="50px" height="50px"/></a>
            </div>
            <div class="col-lg-6 col-md-12">
			<a href="https://kauth.kakao.com/oauth/authorize?client_id=a6d14f150ac48d2473522d64212f6633&redirect_uri=http://localhost/final-project-practice/kakao_login_action&response_type=code"><img src="/final-project-practice/images/kakao/kakao_icon.png" width="50px" height="50px" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Login Form -->
  </div>
  <!-- End Login Module -->

  <script type="text/javascript">
    // Open modal in AJAX callback
    jQuery('.call-modal.signup').on('click', function(event) {
      event.preventDefault();
      this.blur();
      jQuery.get(this.href, function(html) {
        jQuery(html).appendTo('body').modal({
          fadeDuration: 300,
          fadeDelay: 0.15
        });
      });
    });

  </script>

</div>