<div class="order-model">
  <!-- Login modal -->
  <div id="order-modal">
    <!-- Login Form -->
    <div class="order-form default-form">
    <section class="page-title">
      <div class="auto-container">
        <div class="title-outer">
          <h1>주문/결제</h1>
        </div>
      </div>
    </section>
    <!--End Page Title-->

    <!--CheckOut Page-->
    <section class="checkout-page">
      <div class="auto-container">
        <div class="row">
          <div class="column col-lg-6 col-md-6 col-sm-6">
            <!--Checkout Details-->
            <div class="checkout-form">
              <h3 class="title">Billing Details</h3>
              <form method="post" class="default-form">
                <div class="row">
                  <!--Form Group-->
                  <div class="form-group col-lg-12 col-md-6 col-sm-6">
                    <div class="field-label">구매자</div>
                    <input type="text" id="order-name" name="user-name" value="" placeholder="">
                  </div>

                  <!--Form Group-->
                  <div class="form-group col-lg-12 col-md-6 col-sm-6">
                    <div class="field-label">전화번호</div>
                    <input type="text" id="order-phone" name="user-phone" value="" placeholder="">
                  </div>

                  <!--Form Group-->
                  <div class="form-group col-lg-12 col-md-6 col-sm-6">
                    <div class="field-label">이메일</div>
                    <input type="email" id="order-email" name="user-email" value="" placeholder="">
                  </div>
                </div>
              </form>
            </div>
            <!--End Checkout Details-->
          </div>

          <div class="column col-lg-6 col-md-6 col-sm-6">
           <h2 class="title"></h2>
            <!--Order Box-->
            <div class="order-box">
              <h3>Your Order</h3>
              <table>
                <thead>
                  <tr>
                    <th><strong>상품</strong></th>
                    <th><strong>금액</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cart-item">
                    <td class="product-name">Hoodie x2</td>
                    <td class="product-total">59.00</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="order-total">
                    <td>총결제금액</td>
                    <td><span class="amount">$9,218.00</span></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!--End Order Box-->
            
            <!--Payment Box-->
            <div class="payment-box">
              <!--Payment Options-->
              <div class="payment-options">
                <ul>
                  <li>
                    <div class="radio-option radio-box">
                      <input type="radio" name="payment-group" id="payment-2" checked>
                      <label for="payment-2">Direct Bank Transfer<span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option radio-box">
                      <input type="radio" name="payment-group" id="payment-1">
                      <label for="payment-1">Check Payments<span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option radio-box">
                      <input type="radio" name="payment-group" id="payment-3">
                      <label for="payment-3">Cash on Delivery<span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option radio-box">
                      <input type="radio" name="payment-group" id="payment-4">
                      <label for="payment-4"><strong>PayPal</strong>
                        <img src="images/icons/paypal.png" alt="">
                      </label>
                    </div>
                  </li>
                </ul>

                <div class="btn-box">
                  <a href="#" class="theme-btn btn-style-one">Place Order</a>
                </div>
              </div>

            </div>
            <!--End Payment Box-->
            
          </div>
        </div>
      </div>
    </section>
    <!--End CheckOut Page-->
          
  </div>
  <!-- End Login Module -->
</div>