<div class="model">
  <!-- Apply modal -->
  <div id="login-modal">
    <!-- Apply Form -->
    <div class="login-form default-form">
      <div class="form-inner">
        <h3>이력서를 선택하세요.</h3>
        <!--Login Form-->
        <form id="apply-f" name="apply-f" method="post">
          <div class="form-group">
            <label>이력서 목록</label>
            <select class="chosen-select" >
            	<option>option A</option>
             	<option>option B</option>
            	<option>option C</option>
            </select>
          </div>
          
		<!--      
	     <div class="form-group">
            <label for="email">User Email</label>
            <input type="email" id="email" name="email" placeholder="User Email" required>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input id="password-field" type="password" name="password" value="" placeholder="Password">
          </div>
           -->
          <input type="hidden" id="" name="" value="">

          <div class="form-group">
          <!-- 
            <div class="field-outer">
              <div class="input-group checkboxes square">
                <input type="checkbox" name="remember-me" value="" id="">
                <label for="remember" class="remember"><span class="custom-checkbox"></span> Remember me</label>
              </div>
              <a href="#" class="pwd">Forgot password?</a>
            </div>
           -->
          </div>

          <div class="form-group">
            <button class="theme-btn btn-style-one" type="button" id="apply" name="apply" onclick="apply()">선택한 이력서로 지원하기</button>
          </div>

			<div class="form-group">
				<div class="btn-box row">
					<div class="col-lg-6 col-md-12">
						<a href="cv-write-form" id="write-btn" class="theme-btn btn-style-four"><i class="la la-user"></i>새 이력서 쓰기</a>
					</div>
					<div class="col-lg-6 col-md-12">
						<a href="cv-detail" id="update-btn" class="theme-btn btn-style-four"><i class="la la-briefcase"></i>이력서 수정하기</a>
					</div>
				</div>
			</div>

				</form>

        <div class="bottom-box">
          <div class="text">Don't have an account? <a href="register-popup" class="call-modal signup">Signup</a></div>
          <div class="divider"><span>or</span></div>
          <div class="btn-box row">
            <div class="col-lg-6 col-md-12">
              <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> Log In via Facebook</a>
            </div>
            <div class="col-lg-6 col-md-12">
              <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> Log In via Gmail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Login Form -->
  </div>
  <!-- End Login Module -->

  <script type="text/javascript">

  </script>

</div>